body{
    background-color: #fbf8e5;
    color: #6e7d9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
 font-size: x-large;
 font: bolder;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: darkred;
}

section{
    margin: 20px;
    border: 1px black solid;
    padding: 10px;
    min-height: 60px;
    color: indianred;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .abc{
    color: navy;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }